#div_docu{
    width: 100%;
    height: 100%;
    background-color: tomato;
    top: 100%;
    position: absolute;
    z-index: -1;
}

#label_docu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 50vh;
}