#div_docu{
    width: 100%;
    z-index: -1;
    margin-top: 150px;
    background-color: blueviolet;
}

#main_label_undoc{
    text-align: center;
    font-size: 35px;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
}

.parags{
    width: 70%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 0px;
}

#end{
    margin-bottom: 100px;
}

#label_docu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 50vh;
}

#div_under_doc{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border: solid 1px black;
}

#div_selection{
    width: 35%;
    height: 100%;
    padding-bottom: 100px;
    background-color: black;
    color: white;
}

#tbl_selection{
    width: 90%;
    margin-left: auto;
    padding-top: 15px;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
}

.p_selection{
    margin-bottom: 0;
}

.under_tbl_selection{
    font-size: 15px;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin-left: auto;
}

.div_under_comp{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: burlywood;
}

#tbl_whole{
    background-color: brown;
    width: 100%;
}

.label_u_comp{
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
}

.links_u{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.links_p{
    text-decoration: none;
    color: white;
    font-size: 16px;
}