#div_download{
    opacity: 1;
    width: 100%;
    height: 100%;
}

#label_down{
    text-align: center;
    font-size: 35px;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}

#versions{
    background-color: black;
    width: 70%;
    min-width: 350px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}